.container{
  width: 100vw;
  min-height: 100vh;
  div{
    display: flex;
    justify-content: center;
    .profilCardContainer{
      width: 94vw;
      display: flex;   
      .leftContainer{
        width: 10%;
      }     
    }
  }
}